:root {
    --ff-main: sans-serif;
    --ff-start_btn: 'balsamiq Sans', cursive;
    --fs-Headelines-h1: clamp(3.5rem, 5vw + 1rem, 12rem);
    --fs-Profle-h2: 2.5rem;
    --fs-paragraph: 1.5rem;
    --fs-paragraph: 1.5rem;
    --clr-start-btn: rgb(116, 66, 66);
    --clr-popup: rgba(141, 84, 233, 0.8);
    --clr-popup-content: rgba(236, 236, 236, 0.952);
    --clr-popup-log: rgb(114, 114, 114);
    --clr-light: #fff;
    --clr-dark: rgb(0, 0, 0);
    --bg-color-landing: #060ab0;
    --bg-color: gray;
    --border_color: #000000;
    --table-side-padding: 0.5em;
    --card_width: 10rem;
    --card-gap: 2rem;
}

body {
    background-color: var(--bg-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
}

.hide {
    display: none !important;
}

h1, h2, h3, p {
    color: var(--clr-light);
}

/*Landing screen and about every developer*/

#landing_screen {
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url(../img/LandingScreen.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#landing_screen h1 {
    text-align: center;
    font-size: var(--fs-Headelines-h1);
    margin-bottom: 5%;
}

#landing_screen P {
    font-size: var(--fs-paragraph);
}

.about_project {
    max-width: 150ch;
}

/* developers carousel */

#developers_carousel_container {
    position: relative;
    width: 100%;
    
    padding-bottom: 50px;
    margin-top: 4%;
}

.carousel_arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 10% 0;
    color: var(--clr-light);
    font-size: 3em;
    cursor: pointer;
}

.carousel_arrow::selection {
    background-color: transparent;
}

.carousel_arrow:nth-last-of-type(1) {
    left: unset;
    right: 0;
}

.developers {
    position: relative;
    margin: 0 auto;
    width: 90%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.about.placeholder {
    visibility: hidden;
    position: relative;
}

.developers img {
    width: 50%;
    border-radius: 50%;
}

.about {
    position: absolute;
    width: 85%;
    height: 100%;
    top: 0;
    left: 7.5%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    border: 0.15em solid #808080;
    border-radius: 2.5rem;
}

.about h2 {
    padding-block: 1rem;
    font-size: var(--fs-Profle-h2);
    text-align: center;
}

.about .short_name {
    padding-bottom: 1.5em;
}

#start_btn {
    position: fixed;
    bottom: 0%;
    width: 5em;
    height: 8%;

    cursor: pointer;
    font-size: 2.5rem;
    font-family: var(--ff-start_btn);
    background-color: var(--clr-start-btn);
    color: var(--clr-light);
    border: 2px solid white;
    border-radius: 5%;
    text-shadow: 0 0 1.5em currentColor;

    transition:
     text-shadow 500ms,
     font-size 500ms;
}

#start_btn:hover {
    text-shadow: 0 0 0.125em currentColor;
    font-size: 2.8rem;
    border: 4px solid white;
}

/* The login popup */

.popup_container::before {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-popup);
    z-index: -1;
}

.popup_container {
    display: none;
    position: fixed;
    top: 20%;

    border-radius: 5%;
    font-family: var(--ff-main);
    color: var(--clr-dark);
    z-index: 1;
}

.popup_content{
    display: flex;
    flex-direction: column;

    border-radius: 5%;
    padding: 2rem;
    background-color: var(--clr-light);
}

.popup_container h2 {
    color: var(--clr-dark);
    text-align: center;
    font-size: 3rem;
}

.close_popup{
    position: absolute;
    right: 	0.9rem;
    top: 0.9rem;

    cursor: pointer;
    font-size: 2rem;
}

.input_form_container {
    display: flex;
    flex-direction: column;
}

.input_form_container label {
    font-size: 1.5rem;
}

.input_form_container input {
    width: 20rem;
    height: 2rem;

    margin-bottom: 5%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.input_form_container input:focus{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.forgot_password{
    width: fit-content;
    cursor: pointer;
    color: var(--clr-dark);
}

.btn_wrapper{
    display: flex;
    flex-direction: column;
}

.popup_btn{
    font-size: 1.2rem;
    height: 3rem;
    margin-top: 4%;

    cursor: pointer;
    color: var(--clr-light);
    background-color: var(--clr-popup-log);
}

/*game_window*/

#cards_dis {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15rem;
    background: radial-gradient(#9D5900, black);
}

.page_title {
    color: coral;
    font-size: 6rem;
    font-weight: normal;
    text-align: center;
}

.game_info_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game_info {
    color: coral;
    font-size: 4rem;
    font-weight: normal;
}

.card_container {
    width: calc( ((var(--card_width) + var(--card-gap)) * 2));
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--card-gap);
    flex-direction: row;
    align-content: center;
}

.card {
    background-color: black;
    height: var(--card_width);
    width: var(--card_width);
    position: relative;
}

.card:hover {
    transform: scale(1.1);
}

.card_back {
    height: 10rem;
    width: 10rem;
    background-image: url('../img/cardback.jpeg');
    position: absolute;
}

/* end screen */

#end_screen h2 {
    text-align: center;
    padding: 1em;
}

/* table style */

#table_continer {
    margin: 0 auto;
    max-width: 85vw;
    overflow-x: auto;
}

#score_table {
    position: relative;
    width: max-content;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 1em;
}

#score_table th {
    position: relative;
}

#score_table th, #score_table td {
    height: 2.5em;
    text-align: center;
    padding: 0 var(--table-side-padding);
    max-width: 14em;
}

#score_table th:nth-of-type(1), #score_table td:nth-of-type(1) {
    padding: 0;
}

#score_table th:nth-of-type(4), #score_table td:nth-of-type(4), #score_table th:nth-of-type(5), #score_table td:nth-of-type(5) {
    min-width: 5em;
}

#score_table th:nth-of-type(4), #score_table th:nth-of-type(5) {
    cursor: pointer;
}

#score_table tr {
    border-bottom: 0.1em dashed var(--border_color);
}

#score_table tr:nth-of-type(1) {
    border-bottom: 0.2em solid var(--border_color);
}

.sort_by.show::after {
    content: "";
    position: absolute;
    top: 65%;
    right: var(--table-side-padding);
    width: 0;
    height: 0;
    border-left: 0.325em solid transparent;
    border-right: 0.325em solid transparent;
    border-top: 0.65em solid #555;
}

.sort_by.up::after {
    transform: rotate(180deg);
}

/* btn panel */

#end_screen_btn_continer {
    margin: 1em auto;
    width: max-content;
    display: flex;
    gap: 2em;
}

#end_screen_btn_continer>button {
    padding: 1em 1.5em;
    font-weight: 700;
}

/* share score */

#share {
    margin: 0.5em auto;
    width: max-content;
}

#share .share_link {
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    #developers_carousel_container {
        width: 50%;
    }
    .about .short_name {
        padding-bottom: 1rem;
    }
    .card_container {
        flex-direction: column;
        height: calc( (var(--card_width) + var(--card-gap)) * 3);
        width: 100%;
    }
}