:root {
    --fs-Headelines-h1: ;

    --bg-color-landing: #060ab0;
    --bg-color: gray;

    --fs-Profle-h2: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landing_screen{
    background-image: url(/static/img/LandingScreen.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    background-color: var(--bg-color-landing);
}

#start_btn{

    position: fixed;
    bottom: 1%;

    width: 50%;
    height: 8%;
}

.board{
    position: relative;

    display: flex;
    justify-content: center;
}
